<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Belvg_Ordertracking>
            <version>1.0.0</version>
        </Belvg_Ordertracking>
    </modules>
    <global>
        <models>
            <ordertracking>
                <class>Belvg_Ordertracking_Model</class>
            </ordertracking>
        </models>
        <blocks>
            <ordertracking>
                <class>Belvg_Ordertracking_Block</class>
            </ordertracking>
        </blocks>
        <helpers>
            <ordertracking>
                <class>Belvg_Ordertracking_Helper</class>
            </ordertracking>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ordertracking>
                <use>standard</use>
                <args>
                    <module>Belvg_Ordertracking</module>
                    <frontName>ordertracking</frontName>
                </args>
            </ordertracking>
        </routers>
        <layout>
            <updates>
                <ordertracking>
                    <file>ordertracking.xml</file>
                </ordertracking>
            </updates>
        </layout>
        <translate>
            <modules>
                <Belvg_Ordertracking>
                    <files>
                        <default>Belvg_Ordertracking.csv</default>
                    </files>
                </Belvg_Ordertracking>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Belvg_Ordertracking>
                    <files>
                        <default>Belvg_Ordertracking.csv</default>
                    </files>
                </Belvg_Ordertracking>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ordertracking>
            <settings>
                <tracking_nofound>Tracking number not found.</tracking_nofound>
            </settings>
        </ordertracking>
    </default>
</config>